@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    @font-face {
        font-family: Rubik;
        font-weight: 400;
    }
}

.timeframes-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: .5em;
}

.timeframes-list span {
    align-self: flex-start;
    cursor: pointer;
}

@media screen and (min-width: 1025px) {
    .timeframes-list {
        flex-direction: column;
    }

    .user-profile {
        display: block;
    }
}