@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    @font-face {
        font-family: Rubik;
        font-weight: 400;
    }
}

.timeframes-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: .5em;
}

.timeframes-list span {
    align-self: flex-start;
    cursor: pointer;
}

.boards-container {
    display: block;
    flex-grow: 1;
}

@media screen and (min-width: 769px) {
    .timeframes-list {
        flex-direction: column;
    }

    .user-profile {
        display: block;
    }

    .boards-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(16rem, 1fr));
        gap: 1rem;
    }
}