@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
    @font-face {
        font-family: Rubik;
        font-weight: 400;
    }
}

.timeframes-list {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.timeframes-list span {
    align-self: flex-start;
    cursor: pointer;
}